<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Currency Rate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="4" offset="4">
        <ion-img src="assets/logo.png"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Edit Currencies</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label position="floating">Currency 1</ion-label>
              <ion-input disabled type="text" value="USD"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Currency 2</ion-label>
              <ion-select value="EUR" #c2>
                <ion-select-option *ngFor="let c of tabCurrencies" [value]="c">{{ c }} </ion-select-option>
              </ion-select>
              <!-- <ion-select>
                <ion-select-option value="EUR">EUR</ion-select-option>
                <ion-select-option value="TND">TND</ion-select-option>
                <ion-select-option value="GBP">GPD</ion-select-option>
              </ion-select> -->
            </ion-item>
            <div class="ion-margin-vertical">
              <ion-button color="success" expand="block" (click)="computeRate(c2)">Convert</ion-button>
            </div>


          </ion-card-content>

        </ion-card>

      </ion-col>
    </ion-row>

    <ion-row *ngIf="toConvert">
      <ion-col class="ion-margin">
        <strong>Today, 1 USD worth {{ result }} {{ c2.value }}</strong>
      </ion-col>
    </ion-row>


  </ion-grid>

</ion-content>